In [1]:
# output
print("Sharmila")

Sharmila

### what happened above is:
* the code went to the interpreter
* the interpreter took the code and converted it to bytecode
* the bytecode is run in the CPython VM,
* then the code is executed and our name gets executed

In [2]:
#input
name = input("Enter your name: ")
print(name)

Enter your name:  sharmila

sharmila

In [3]:
print("heloooo", name)

heloooo sharmila

In [4]:
print("heloooo"+ name)

heloooosharmila

In [5]:
print("heloooo "+ name)

heloooo sharmila

##### note:
* python was created by Guido
* in 1991
* created with tyhe name monty python (british comedy group)
* in 2008, guido created python 3 (a new version of python)

# data types

## 1. fundamental data types

### 1.a integer (int)

In [6]:
print(2+4)
print(type(2+4))
print(2-4)
print(2*4)
print(2/4)
print(type(2/4))

print(2**3)
print(5//4)
print(6%4)

6
<class 'int'>
-2
8
0.5
<class 'float'>
8
1
2

### 1.b float

In [7]:
print(0.2 + 4)
print(type(0.2 + 4))
print(0.2 + 4.1)
print(type(0.2+ 4.1))
print(type(0.0004))
print(type(0))
print(0.2+0.8)
print(type(0.2+0.8))

4.2
<class 'float'>
4.3
<class 'float'>
<class 'float'>
<class 'int'>
1.0
<class 'float'>

#### math functions

In [8]:
# round()
print(round(3.1))
print(round(3.8))

3
4

In [9]:
# abs()
print(abs(-20))
print(abs(-3.7))

20
3.7

In [10]:
# ceil()
import math

print(math.ceil(3.2))
print(math.ceil(3.7))

4
4

In [11]:
# floor()
print(math.floor(3.2))
print(math.floor(3.7))

3
3

In [12]:
# cbrt()
print(math.cbrt(8))
print(math.cbrt(27))

2.0
3.0

In [13]:
# exp() (e power x)
print(math.cbrt(2))
print(math.cbrt(3))

1.259921049894873
1.4422495703074083

In [14]:
#pow()
print(math.pow(3,2))
print(math.pow(2,3))

9.0
8.0

In [15]:
# sqrt() 
print(math.sqrt(4))
print(math.sqrt(9))

2.0
3.0

#### operator precedence

In [16]:
print(20+3*4)
print(20-3*4)

32
8

In [17]:
print((20-3)+2 ** 2)

21

#### binary - bin()

In [18]:
print(bin(5))

0b101

In [19]:
print(int('0b101', 2))

5

#### variables

* Note: assigning value to a variable is also called *binding*
* best practices
  * snake_case = all small case; no space
  * start with lowercase or underscore
  * letters, numbers, underscores are allowed
  * is case sensitive
  * dont overwrite keywords.

In [20]:
IQ = 190
print(IQ)

190

In [21]:
a, b, c = 20, 40, 60
print(a)
print(b)
print(c)

20
40
60

#### constants

Note: can be overwritten, but code ethics say otherwise.

In [22]:
pi = 3.14
area  = 2*pi*5
print(area)

31.400000000000002

#### dunders

Note: things that are meant to be left alone (not to be touched)

In [23]:
__name__ = "sharmila"
__hihi = 'hi'

#### expression vs statement

In [24]:
iq = 100 #statement
user_age = iq/5 # statement where iq/5 is expression

#### augmented assignment operator

In [25]:
some_value = 5
print(some_value)

5

In [26]:
some_value+=2;
print(some_value)

7

In [27]:
some_value-=2
print(some_value)

5

In [28]:
some_value*=3
print(some_value)

15

In [29]:
some_value/=3
print(some_value)

5.0

### 1.c string (str)
a piece of text enclosed in ' ', " ", or ''' '''.

In [30]:
print(type("hello"))

<class 'str'>

In [31]:
long_strings = ''' 
wow
00
---
'''
print(long_strings)

wow
00
---

##### string concatenation

In [32]:
first_name = "sharmila"
last_name = "balakrishnan"

In [33]:
full_name = first_name + last_name
print(full_name)

sharmilabalakrishnan

In [34]:
full_name = first_name + ' ' + last_name
print(full_name)

sharmila balakrishnan

In [35]:
print("sharmila","balakrishnan")

sharmila balakrishnan

In [36]:
print("sharmila"+"balakrishnan")

sharmilabalakrishnan

In [37]:
print("sharmila"+" balakrishnan")

sharmila balakrishnan

#### type conversion

In [38]:
val = str(100)
print(val)

100

In [39]:
print(type(val))

<class 'str'>

In [40]:
print(type(int(val)))

<class 'int'>

##### escape sequence

In [41]:
weather1 = "it's sunny"
weather2 = "it's \"kinda\" sunny"
weather3 = 'it\'s sunny'

print(weather1)
print(weather2)
print(weather3)

it's sunny
it's "kinda" sunny
it's sunny

In [42]:
print("hello\\hi")

hello\hi

In [43]:
print("hello\thi")

hello	hi

In [44]:
print("hello\nhi")

hello
hi

##### formatted strings

In [45]:
name = "John"
age = str(50)

# normal
print("hi " + name + ". You are " + age + " years old.")

# formatted
print(f"hi {name}. You are {age} years old.")

#formatted
print("hi {}. You are {} years old.".format(name, age))

#formatted
print("hi {1}. You are {0} years old.".format(age, name))

#formatted
print("hi {n}. You are {a} years old.".format(n=name, a=age))

#formatted
print("hi {n}. You are {a} years old.".format(n="John", a=str(50)))

hi John. You are 50 years old.
hi John. You are 50 years old.
hi John. You are 50 years old.
hi John. You are 50 years old.
hi John. You are 50 years old.
hi John. You are 50 years old.

##### string indeces

In [46]:
selfish = "me me me"
print(selfish[0])
print(selfish[1])
print(selfish)

m
e
me me me

##### slicing
[start:stop] or [start:stop:step]

In [47]:
print(selfish[0:3])
print(selfish[1:7])

me
e me m

In [48]:
selfish = "01234567"
print(selfish[0:5:2])
print(selfish[1:])
print(selfish[:5])
print(selfish[::1])
print(selfish[-1])
print(selfish[::-1])

024
1234567
01234
01234567
7
76543210

##### immutability

In [49]:
selfish[0]=9
print(selfish)

TypeError: 'str' object does not support item assignment

##### only way to chnge value of a string is to reassign the variable

In [ ]:
selfish = "81234567"
print(selfish)

selfish = selfish+'8'
print(selfish)

##### build-in functions/methods

In [ ]:
print(len(selfish))

greet = "hellloo"
print(greet[:])
print(greet[:7])
print(greet[0:len(greet)])

##### function
* len(), print(), input()
##### method
* .format(), caputalize(), replace()
* usually starts with a . and ends with a () or {}

In [50]:
quote = "hellohello"

print(quote.capitalize())

print(quote.find("el"))

print(quote.replace("el", "et"))

print(quote)

Hellohello
1
hetlohetlo
hellohello

### 1.d Boolean
True/False

In [51]:
name = "John"
is_cool= False
is_cool = True

In [52]:
print(bool(1))
print(bool(0))

True
False

In [53]:
print(type(bool(1)), type(bool(0)))

<class 'bool'> <class 'bool'>

In [54]:
print(bool("true"))
print(bool("false"))

True
True

In [55]:
print(type(bool("true")), type(bool("false")))

<class 'bool'> <class 'bool'>

### 1.e list (list)
* an ordered sequence of object can be of anny type.
* area form of arrays in python

##### homogenous

In [56]:
li1 = [1,2,3,4,5]
li2 = ['a','b','c']

##### heterogenous

In [57]:
li3 = [1,2,'a', True]

##### data structures

In [58]:
print(li2[0])

a

##### slicing

In [59]:
list1 = ['a', 'b', 1, True]
print(list1[0:2:1])
print(list1[0::2])

['a', 'b']
['a', 1]

##### mutability

In [60]:
list1[1] = False
print(list1)

['a', False, 1, True]

#### matrix / multi-dimensional list
* concept of an array inside another array

In [61]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(matrix)
print(matrix[0])
print(matrix[0][1])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
2

##### list methods

In [62]:
basket = [1,2,3,4,5]

print(len(basket))

b1 = basket.append(6)
print(b1)

print(basket)

5
None
[1, 2, 3, 4, 5, 6]

Note: .append() does not produce any value to assign. it just performs action and thus, print(b1)=> none

In [63]:
basket.insert(0,0) #(data,index)
print(basket)

[0, 1, 2, 3, 4, 5, 6]

In [64]:
basket.insert(6, 7)
print(basket)

[0, 1, 2, 3, 4, 5, 7, 6]

In [65]:
basket.pop()
print(basket)

[0, 1, 2, 3, 4, 5, 7]

In [66]:
basket.pop(0)
print(basket)

[1, 2, 3, 4, 5, 7]

In [67]:
basket.remove(4)
print(basket)

[1, 2, 3, 5, 7]

In [68]:
basket.clear()
print(basket)

[]

In [69]:
basket = [1,2,3,4,5]
print(basket.index(2))

1

In [70]:
print(basket.index(2,0,2)) #(value, start, end)

1

In [71]:
print(5 in basket)

True

In [72]:
print(basket.count(3)) # no. of ocvcurances

1

In [73]:
basket = [1, 6, 3, 2, 5, 4]

print(basket.sort())

basket.sort()
print(basket)

None
[1, 2, 3, 4, 5, 6]

Note: it is none because. sort() doesnt return any value. it just performs an operation)

In [74]:
basket = [1, 6, 3, 2, 5, 4]

print(sorted(basket))
print(basket)

[1, 2, 3, 4, 5, 6]
[1, 6, 3, 2, 5, 4]

In [75]:
new_basket = basket.copy()
new_basket.sort()
print(new_basket)
print(basket)

[1, 2, 3, 4, 5, 6]
[1, 6, 3, 2, 5, 4]

In [76]:
basket.reverse()
print(basket)

[4, 5, 2, 3, 6, 1]

In [77]:
basket = ['a', 'x', 'b', 'c', 'd', 'e', 'd']
basket.sort()
basket.reverse()
print(basket[::-1]) # again reverse the basket
print(basket)

['a', 'b', 'c', 'd', 'd', 'e', 'x']
['x', 'e', 'd', 'd', 'c', 'b', 'a']

##### list patterns

In [78]:
print(range(1,100))

print(list(range(1,100)))

print(list(range(100)))

range(1, 100)
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [79]:
sentence = '!'
new_sentence = sentence.join(['hi', 'my', 'name', 'is', 'JoJo'])
print(sentence)
print(new_sentence)

new_line = '_'.join(['hi', 'my', 'name', 'is', 'JoJo'])
print(new_line)

!
hi!my!name!is!JoJo
hi_my_name_is_JoJo

##### list unpacking

In [80]:
a,b,c,d,*other = [1,2,3,4,5,6,7,8,9]
print(a)
print(b)
print(c)
print(d)
print(other)

a,b,c,*other,d = [1,2,3,4,5,6,7,8,9]
print(a)
print(b)
print(c)
print(other)
print(d)

1
2
3
4
[5, 6, 7, 8, 9]
1
2
3
[4, 5, 6, 7, 8]
9

### 1.f None
* a special data type that exists in python
* most l;anguages have something like this to represent the absence of value. eg: null

In [81]:
weapons = None
print(weapons)

None

### 1.g dictonary (dict) 
* in other languages, it maybe called a hashtable, maybe map or object.
* it is a data type in python
  * but, it is also a data structure.
* an unordered key-value pair

* curly brackets denote  adictionary
* unlike a list, we have what we call a key:value pair.
* key is a string for us to grab the value.

In [82]:
dictionary = {
    'a':1,
    'b':2,
    'x':3
}
print(dictionary)

{'a': 1, 'b': 2, 'x': 3}

##### accessing value

In [83]:
print(dictionary['a'])

1

In [84]:
# list inside dict
dictionary = {
    'a': [1,2,3],
    'b': "hello",
    'x': True
}
print(dictionary)
print(dictionary['a'])
print(dictionary['a'][1])

{'a': [1, 2, 3], 'b': 'hello', 'x': True}
[1, 2, 3]
2

In [85]:
# dict inside list
my_list = [
    {
        'a':1,
        'b':2,
        'x':3
    },
    {
        'a': [1,2,3],
        'b': "hello",
        'x': True
    }
]
print(my_list[1]['b'])
print(my_list[1]['a'][2])

hello
3

##### dictionary keys

In [86]:
dictionary = {
    123: [1,2,3],
    True: "hello",
    'x': True
}
print(dictionary[123])
print(dictionary[True])

[1, 2, 3]
hello

In [87]:
dictionary = {
    123: [1,2,3],
    True: "hello",
    [100]: True
}
print(dictionary[100])

TypeError: unhashable type: 'list'

##### Note: above error
Reason: a key needs to be immutable i.e., it cannot be changed. a list if a mutable object.

In [88]:
dictionary = {
    'a': [1,2,3],
    'a': "hello",
}
print(dictionary['a'])

hello

##### note: unique key req
* a key in a dictionary has to be unique, because there can only be one key, because that key is going represent a bookshelf in that memory space.
* so, anytime w edo the same key and maybe add a value, it is going to overwrite.

##### dictionary methods

In [89]:
user = {
    'basket':[1,2,3],
    'greet': 'hello'
}
print(user.get('age'))
print(user.get('greet'))

print(user.get('age', 55)) #if age doesnt exist, then return 55
print(user)

print(user.get('greet', 'hi')) # here, greet exists, so returns hello

None
hello
55
{'basket': [1, 2, 3], 'greet': 'hello'}
hello

##### alternate way to create  adictionary
* dictionary = dict(key=value)

In [90]:
user2 = dict(name ='sharmila')
print(user2)
print(user2.get('name'))

{'name': 'sharmila'}
sharmila

In [91]:
user = {
    'basket':[1,2,3],
    'greet': 'hello',
    'age': 20
}
print('basket' in user)
print('size' in user)

print('age' in user.keys())
print('hello' in user.values())

print(user)
print(user.items()) # returns the values in tuple

user.clear()
print(user)

True
False
True
True
{'basket': [1, 2, 3], 'greet': 'hello', 'age': 20}
dict_items([('basket', [1, 2, 3]), ('greet', 'hello'), ('age', 20)])
{}

In [92]:
user = {
    'basket':[1,2,3],
    'greet': 'hello',
    'age': 20
}
user1 = user.copy()
print(user.clear())
print(user)
print(user1)

None
{}
{'basket': [1, 2, 3], 'greet': 'hello', 'age': 20}

In [93]:
user = {
    'basket':[1,2,3],
    'greet': 'hello',
    'age': 20
}
print(user.pop('age')) # returns the value of whatever is removed 
print(user)

20
{'basket': [1, 2, 3], 'greet': 'hello'}

In [94]:
user = {
    'basket':[1,2,3],
    'greet': 'hello',
    'age': 20
}
print(user.popitem()) # returns a randomly removed on the dict is removed
print(user)

# popitem() is useful to destructively iterate over a dictionary

('age', 20)
{'basket': [1, 2, 3], 'greet': 'hello'}

In [95]:
user = {
    'basket':[1,2,3],
    'greet': 'hello',
    'age': 20
}

user.update({'age': 55})
print(user)

user.update({'height': 123})
print(user)

{'basket': [1, 2, 3], 'greet': 'hello', 'age': 55}
{'basket': [1, 2, 3], 'greet': 'hello', 'age': 55, 'height': 123}

### 1.h tuple
* are like lists, but unlike lists cannot be modified. i.e.., they are immutable.
* () are used to represent a tuple.

In [96]:
my_tuple = (1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [97]:
print(my_tuple[1])

2

In [100]:
my_tuple[1]='z'
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [101]:
print(5 in my_tuple)

True

* it is less flexible than lists
* it is robust unlike a list
* it cannot be sorted, reversed

#### Note:
* code: print(user.items()) where, user is a dictionary.
  * output: dict_items([('basket', [1, 2, 3]), ('greet', 'hello'), ('age', 20)])
* here the tuples are
  * ('basket', [1, 2, 3])
  * ('greet', 'hello')
  * ('age', 20)
* i.e, the key-value is returned as a tuple.
* a dict has keys that are immutable.
  * thus, a tuple is a completely valid key in python

In [102]:
user = {
    (1,2):[1,2,3],
    'greet': 'hello',
    'age': 20
}

print(user[(1,2)])

[1, 2, 3]

##### slicing

In [103]:
my_tuple = (1,2,3,4,5)
print(my_tuple[1:2])
print(my_tuple[1:4])

(2,)
(2, 3, 4)

In [104]:
x,y,z,*others = (1,2,3,4,5,6)
print(x)
print(y)
print(z)
print(others)

1
2
3
[4, 5, 6]

In [105]:
x,y,*others, z = (1,2,3,4,5,6)
print(x)
print(y)
print(others)
print(z)

1
2
[3, 4, 5]
6

In [106]:
my_tuple = (1,2,3,4,5,6,5)
print(my_tuple.count(5))

print(my_tuple.index(4))

print(len(my_tuple))

2
3
7

### 1.i set
* are simply unordered collection of unique objects.
* represented by {}

In [107]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [108]:
my_set = {1,2,3, 1,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [109]:
print(my_set[1])

TypeError: 'set' object is not subscriptable

In [110]:
print(1 in my_set)

True

In [111]:
my_list = [1,2,3,4,5] 
print(set(my_list)) # convert list into set

my_set = {6,7,8,9,0}
print(list(my_set)) # convert set into list

{1, 2, 3, 4, 5}
[0, 6, 7, 8, 9]

In [112]:
new_set = my_set.copy()
print(new_set)

{0, 6, 7, 8, 9}

In [113]:
my_set.clear()
print(my_set)

set()

##### set methods

In [114]:
my_set = {1,2,3,4,5}
your_set = {4,5,6,7,8,9,10}

print(my_set.difference(your_set))

print(my_set.discard(5))
print(my_set)

print(my_set.difference_update(your_set))
print(my_set)

my_set = {1,2,3,4,5}

print(my_set.intersection(your_set))
print(my_set & your_set)

print(my_set.isdisjoint(your_set))

print(my_set.issubset(your_set))

print(my_set.issuperset(your_set))

print(my_set.union(your_set))
print(my_set | your_set)

{1, 2, 3}
None
{1, 2, 3, 4}
None
{1, 2, 3}
{4, 5}
{4, 5}
False
False
False
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## conditional logic

In [115]:
is_old= True
is_licenced = True
if is_old:
    print('you are old enough to drive')
else:
    print('you are not of age')
print('always be patient')

you are old enough to drive
always be patient

In [116]:
is_old= True
is_licenced = True
if is_old:
    print('you are old enough to drive')
elif is_licenced:
    print('yoy can drive')
else:
    print('you are not of age')
print('always be patient')

you are old enough to drive
always be patient

In [117]:
is_old= False
is_licenced = True

if is_old:
    print('you are old enough to drive')
elif is_licenced:
    print('yoy can drive')
else:
    print('you are not of age')
print('always be patient')

yoy can drive
always be patient

In [118]:
is_old= False
is_licenced = False

if is_old:
    print('you are old enough to drive')
elif is_licenced:
    print('yoy can drive')
else:
    print('you are not of age')
print('always be patient')

you are not of age
always be patient

#### and operator
* true and true = true
* true and false = false
* false and true = false
* false and false = false

In [119]:
is_old = True
is_licenced = True

if is_old and is_licenced:
    print('you can drive')
else:
    print('you can\'t drive')
print('always be patient')

you can drive
always be patient

In [120]:
is_old = True
is_licenced = False

if is_old and is_licenced:
    print('you can drive')
else:
    print('you can\'t drive')
print('always be patient')

you can't drive
always be patient

In [121]:
is_old = False
is_licenced = True

if is_old and is_licenced:
    print('you can drive')
else:
    print('you can\'t drive')
print('always be patient')

you can't drive
always be patient

In [122]:
is_old = False
is_licenced = False

if is_old and is_licenced:
    print('you can drive')
else:
    print('you can\'t drive')
print('always be patient')

you can't drive
always be patient

#### OR opeator
* true or true = true
* true or false = true
* false or true = true
* false or false = false

In [123]:
is_positive = True
is_negative =  True

if is_positive or is_negative:
    print('integer')
else:
    print('zero')
print('number')

integer
number

In [124]:
is_positive = True
is_negative =  False

if is_positive or is_negative:
    print('integer')
else:
    print('zero')
print('number')

integer
number

In [125]:
is_positive = False
is_negative =  True

if is_positive or is_negative:
    print('integer')
else:
    print('zero')
print('number')

integer
number

In [126]:
is_positive = False
is_negative =  False

if is_positive or is_negative:
    print('integer')
else:
    print('zero')
print('number')

zero
number

## indentation
spaces(2) or tab(1)

## truthy and falsy

### truthy values
when boolean type conversion is run on a value evaluates as true, then such values as called truthy values

In [127]:
is_old = 'hello'
is_licenced = 5

print('real values: ')
print(is_old, type(is_old))
print(is_licenced, type(is_licenced))

print('\nbool values taken as, by the if block')
print(bool(is_old))
print(bool(is_licenced))

print('\nresult of if')
if is_old and is_licenced:
    print('you can drive')
else:
    print('you can\'t drive')
print('always be patient')

real values:
hello <class 'str'>
5 <class 'int'>

bool values taken as, by the if block
True
True

result of if
you can drive
always be patient

#### Note:
* what happened here is, Python converts 'hello' and 5 to booleans.
* 'hello' is equivalent to bool('hello') and 5 is equivalent to bool(5)
* but, if u print the variables. their data types remain intact.

### falsy values
when boolean type conversion is run on a value evaluates as false, then such values as called falsy values

In [128]:
is_old = ''
is_licenced = 0

print('real values: ')
print(is_old, type(is_old))
print(is_licenced, type(is_licenced))

print('\nbool values taken as, by the if block')
print(bool(is_old))
print(bool(is_licenced))

print('\nresult of if')
if is_old and is_licenced:
    print('you can drive')
else:
    print('you can\'t drive')
print('always be patient')

real values:
 <class 'str'>
0 <class 'int'>

bool values taken as, by the if block
False
False

result of if
you can't drive
always be patient

### Note: 
all vallues are considered Truthry except:
* None
* False
* 0
* 0.0
* 0j
* Decimal(0)
* Fraction(0,1)
* [] - empty list
* {} - empty dict
* () - empty tuple
* '' - empty string
* b'' - empty bytes
* set() - empty set
* empty range, range(0)
* objects for which:
  * obj.__ bool__() returns false
  * obj.__ len__() returns 0

## Ternary operator / conditional expressions
* another way to do conditional logic - shortcuyt
* is an operation that evaluates to something based on a condition being True or not.
* is a new feature of python as of version 2.4

##### condition_if_true if condition else condition_if_false

In [129]:
is_friend = True

can_message = 'message allowed' if is_friend else 'message not allowed'

print(can_message)

message allowed

In [130]:
is_friend = False

can_message = 'message allowed' if is_friend else 'message not allowed'

print(can_message)

message not allowed

## Short Circuiting
* AND OPERATION
  * rue(1) AND True(1) -> True(1)
  * True(1) AND False(0) -> False(0)
  * False(0) AND True(1) -> False(0)
  * False(0) AND False(0) -> False(0)
* OR OPERATION
  * True(1) OR True(1) -> True(1)
  * True(1) OR False(0) -> True(1)
  * False(0) OR True(1) -> True(1)
  * False(0) OR False(0) -> False(0)

## logical operators
* allows us to perform logic between two things
* includes:
  * and
  * or
  * not
  * (greater than) >
  * (greater than or equal to) >=
  * (lesser than) <
  * (lesser than or equal to) <=
  * (equal to) ==
  * (not equal to) !=

## is vs ==
#### == checks for equality or equality of values

In [131]:
print(True == 1)

True

here, True amd 1 are of two different types i.e, bool and int respectively. but, python will convert them into the same type. i.e., here, 1 will be equivalent to bool(1) which is True.

In [132]:
print('' == 1)

False

here, 
* '' is empty string and so is a falsy value = false
* 1 is equivalent to bool(1) = true

In [133]:
print([] == 1)

False

here,
* [] is empty list and so is a falsy value = false
* 1 is equivalent to bool(1) = truerue

In [134]:
print(10 == 10.0)

True

In [135]:
print([] == [])

True

In [136]:
print('1' == 1)

False

In [137]:
print([1,2,3] == [1,2,3])

True

#### is actually checks if the location in memory where this value is stored is the same

In [138]:
print(True is 1)
print(True is True)
print('' is 1) 
print([] is 1)
print(10 is 10.0)
print([] is [])
print('1' is 1)
print([1,2,3] is [1,2,3])

False
True
False
False
False
False
False
False

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:7: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:3: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:7: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
C:\Users\jeevi\AppData\Local\Temp\ipykernel_18836\80517531.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(True is 1)
C:\Users\jeevi\AppData\Local\Temp\ipykernel_18836\80517531.py:3: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  print('' is 1)
C:\Users\jeevi\AppData\Local\Temp\ipykernel_18836\80517531.py:4: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print([] is 1)
C:\Users\jeevi\AppData\Local\Temp\ipykernel_18836\80517531.py:5: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(10 is 10.0)
C:\Users\jeevi\AppData\Local\Temp\ipykernel_18836\80517531.py:7: SyntaxWarning: "is" with 'str' literal. Did you mean "=="?
  print('1' is 1)

* in case of [] is [], and [1,2,3] is [1,2,3] the returned value is false.
* reason: everythime we create a list, it is added somewehere in the memory. and thus the location of the 2 lists we create is in completely two different locations in the memory.

## loops
* allows us to run lines of code over and over.
* this is one of teh powerful features of programming because, this way, we can run things 1000s of times easily.

In [139]:
for item in 'Hello':
    print(item)

H
e
l
l
o

In [140]:
for item in [1,2,3,4,5]:
    print(item)

1
2
3
4
5

In [141]:
for item in (1,2,3,4,5):
    print(item)

1
2
3
4
5

In [142]:
for item in (1,2,3,4,5):
    for x in ['a','b','c']:
        print(item, x)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c
4 a
4 b
4 c
5 a
5 b
5 c

## iterables
* simply means that it is an pbject or a collection that can be iterated (go one by one to check each item in the collection) over.
* an iterable can be :
  * list
  * dict
  * tuple
  * set
  * string
  * range

In [143]:
user = {
    'name': 'Golem',
    'age': 5006,
    'can_swim': False
}
for item in user:
    print(item)

name
age
can_swim

In [144]:
for item in user.items():
    print(item)

('name', 'Golem')
('age', 5006)
('can_swim', False)

In [145]:
for item in user.values():
    print(item)

Golem
5006
False

In [146]:
for item in user.keys():
    print(item)

name
age
can_swim

In [147]:
for key, value in user.items():
    print(key,value)

name Golem
age 5006
can_swim False

## range()
 * returns an object that produces a sequence of integers from start (inclusive) to stop (exclusive) bby step.

In [148]:
print(range(10))

range(0, 10)

In [149]:
for item in range(1,6):
    print(item)

1
2
3
4
5

In [150]:
for item in range(0,10,2):
    print(item)

0
2
4
6
8

In [151]:
for item in range(10,0,-2):
    print(item)

10
8
6
4
2

In [152]:
for item in range(0,5):
    print(list(range(3)))

[0, 1, 2]
[0, 1, 2]
[0, 1, 2]
[0, 1, 2]
[0, 1, 2]

## enumerate()
* it reurns an enumerate object. iterable must be another object that supports iteration.

In [153]:
for i,char in enumerate('hello'):
    print(i, char)

0 h
1 e
2 l
3 l
4 o

In [154]:
for i,char in enumerate([1,2,3,4]):
    print(i, char)

0 1
1 2
2 3
3 4

In [155]:
for i,char in enumerate((1,2,3,4)):
    print(i, char)

0 1
1 2
2 3
3 4

In [156]:
for i,char in enumerate(list(range(4))):
    print(i, char)

0 0
1 1
2 2
3 3

In [157]:
for i,char in enumerate(list(range(5))):
    if char == 3:
        print('index:', i)

index: 3

## while loop

In [158]:
i = 0
while i<5:
    print(i)
    break

0

In [159]:
i = 0
while i<5:
    print(i)
    i+=1

0
1
2
3
4

#### note:
to jump out of the while loop, you can either turn the condition false or you can break out of the loop

In [160]:
i = 0
while i<5:
    print(i)
    i+=1
else:
    print('done with the work')

0
1
2
3
4
done with the work

In [161]:
i = 0
while i<5:
    print(i)
    i+=1
print('done with the work')

0
1
2
3
4
done with the work

In [162]:
i = 0
while i<5:
    print(i)
    i+=1
    if i==3:
        break
else:
    print('done with teh work')
print('next operation')

0
1
2
next operation

#### use of else block in while
* the else block will only execute if there isnt a break in the wile loop,
  * i.e., the while block is executed entirely up until what it is meant for and then the else block is executed.
* if while block operation is not complete and was broken in between, the operation that needs to be done if and only if while block is completed which can be put in the else block will not get executed.

In [163]:
while True:
    input("say something: ")
    break

say something:  hello

In [164]:
while True:
    response = input("say something: ")
    if response == "bye":
        break

say something:  hi
say something:  yipee
say something:  bye

## break, contiue, pass

### break
when used, it breaks out of the current and closing loop

##### for loop

In [165]:
my_list = [1,2,3]
for item in my_list:
    print(item)
    break
    print('done')

1

##### while loop

In [166]:
my_list = [1,2,3]
i = 0
while i<len(my_list):
    print(my_list[i])
    i+=1
    break
    print('done')

1

### continue
when used, continues onto the top of the enclosing loop

##### for loop

In [167]:
my_list = [1,2,3]
for item in my_list:
    print(item)
    continue
    print('done')

1
2
3

##### while loop

In [168]:
my_list = [1,2,3]
i = 0
while i<len(my_list):
    print(my_list[i])
    i+=1
    continue
    print('done')

1
2
3

### pass
* it essentially does nothing, it just passes to the next line.
* but can be used in places where futre addition of code is applicable
  * i.e., it can be used as a good placeholder for further updates or undecided pieces of operations

##### for loop

In [169]:
my_list = [1,2,3]
for item in my_list:
    print(item)
    pass
    print('done')

1
done
2
done
3
done

##### while loop

In [170]:
my_list = [1,2,3]
i = 0
while i<len(my_list):
    print(my_list[i])
    i+=1
    pass
    print('done')

1
done
2
done
3
done

## Note
### what is good code?
* ##### clean
  * make sure our code is following a style that the python community endorses.
  * python has standard ways of using spaces to make sure that our code is clean
  * python has this feature of format to help write clean code.
   
* ##### readability
  * it means the ability to want to read your own code
  * make sure that our every line that we have written is easily readable
  * make sure variable names make sense in the code.
  * add a comment to out-of-place code bits to eplain their existence in short

* ##### predictability
  * make sure to avaid the most compact code, or using the newest features or some really obscure tools or functions that are not very common.

* ##### DRY - Do not Repeat Yourself
  * avoid code that is constantly repeating itself over and over again.

## functions
### 2 types:
* ##### built-in
* ##### user-defined

### built-in
##### Some commonly used in-bilt functions:
* list()
* print()
* max()
* min()
* imput()

### user-defined
* def keyword lets the interpreter know that we are defining a function
* we use the same naming case as we do with variables to define our functions.

In [171]:
def say_hello():
    print("hello")
    
say_hello()

hello

#### Note:
a function needs to be called or invoked for it to work

### arguments vs parameters
* variables used inside of the function while defining it.
* values used to provide in a function while calling it.
#### types of arguments:
* positional arguments
* keyword arguments

In [172]:
# parameters => n, face
def say_hello_n(n, face):
    print(n*("hello "+face+"\n"))

# arguments: 3, ":)"
say_hello_n(3, ":)")

hello :)
hello :)
hello :)

#### positional arguments
above is an example of positional arguments because the position of the values matter

In [173]:
# parameters => n, face
def say_hello_n(n, face):
    print(n*("hello "+face+"\n"))

# positional arguments:
say_hello_n(3, ":)")
say_hello_n(":)",3)

hello :)
hello :)
hello :)

TypeError: can only concatenate str (not "int") to str

### keyword arguments:
* allow us to displace the argument's order
* not a frequent practise as it simply makes the code more complicated

In [174]:
# parameters => n, face
def say_hello_n(n, face):
    print(n*("hello "+face+"\n"))

# keyword arguments:
# wrng practise
say_hello_n(face = ':)',n=3)

# better than worse practise
say_hello_n(n=3, face = ':)')

hello :)
hello :)
hello :)

hello :)
hello :)
hello :)

### default parameters and key words
* allow us to give right to decide what we want as default argument for any specified parameter while defining a function

In [ ]:
# default parameters
def say_hello_n(name = "shark", face=":)"):
    print(f"Hello {name}, you are {face}")

say_hello_n()

##### 1. when there is default parameters, if u provide arguments while calling a function, then the preference goes tot the argument values given during the invocation of the function.

In [ ]:
# default parameters
def say_hello_n(name = "shark", face=":)"):
    print(f"Hello {name}, you are {face}")

say_hello_n("whale", ":(")

##### 2. the first mentioned argument in the invoked function corresponds to the first default parameter of the function and displaces the default parameter.

In [ ]:
# default parameters
def say_hello_n(name = "shark", face=":)"):
    print(f"Hello {name}, you are {face}")

say_hello_n("whale")

##### 3. when using default parameters, a non-default argument cannot follow a default argument.

In [ ]:
# default parameters
def say_hello_n(name = "shark", face):
    print(f"Hello {name}, you are {face}")

say_hello_n(face=":)")

##### when using a default parameters, a default poarameter can follow a non-default parameter.

In [ ]:
# default parameters
def say_hello_n(name, face = ":)"):
    print(f"Hello {name}, you are {face}")

say_hello_n(name = "shark")

### Return keyword

In [ ]:
def sum(num1, num2):
    return num1+num2
print(sum(4,5))

In [ ]:
def sum(num1, num2):
    return num1+num2
print(sum(4,sum(2,3)))

#### * note: a return keyword automatically exits a function

In [ ]:
def sum(num1, num2):
    print("before")
    return num1+num2
    print("after")
    
print(sum(2,3))

## nested functions

In [ ]:
def sum(num1, num2):
    def another_func(n1, n2):
        return n1+n2
    return another_func(num1,num2)
print(sum(4,5))

## Methods
* a method has to be owned by an object (string, list etc.).
  * and, whatever is to the left of the dot owns the method.

In [ ]:
"helloo".capitalize()

## Docstrings

In [ ]:
def test(a):
    '''
    Info: this function tests and prints parameter a
    '''
    print(a)
    
test("helloo") # press shift tab when on jupyter notebok to see the info of the defined function
print("\n-------\n")

help(test)
print("\n-------\n")

print(test.__doc__)

## cleaning code:

In [ ]:
def is_odd_or_even(num):
    if (num%2==0):
        return True
    elif (num%2!=0):
        return False

is_odd_or_even(3)

In [ ]:
def is_odd_or_even(num):
    if (num%2==0):
        return True
    else:
        return False

is_odd_or_even(3)

In [ ]:
def is_odd_or_even(num):
    if (num%2==0):
        return True
    return False

is_odd_or_even(3)

In [ ]:
def is_odd_or_even(num):
    return (num%2==0)

is_odd_or_even(3)

## *args and **kwargs

#### *args
* it is basically a variable that we are creating to hold un-determined number of unique values as arguments.
* it can be *foo, *hello, *anything.
* but, the standard way is *args, as it is just the way it is used in the python community

In [ ]:
def super_func(args):
    print(args)
    
super_func(1,2,3,4,5)

In [ ]:
def super_func(*args):
    print(*args)
    
super_func(1,2,3,4,5)

In [ ]:
def super_func(*args):
    print(args)
    
super_func(1,2,3,4,5)

In [ ]:
import numpy as np

def super_func(*args):
    return np.sum(args)

print(super_func(1,2,3,4,5))

#### **kwargs
* it is basically a variable that we are creating to hold un-determined number of unique values as  keyword barguments.
* it can be **foo, **hello, **anything.
* but, the standard way is **kwargs, as it is just the way it is used in the python community

In [ ]:
def super_func(**kwargs):
    print(kwargs)
    
super_func(num1=5, num2=10)

In [ ]:
def super_func(**kwargs):
    print(kwargs)
    
super_func(1,2,3)

In [ ]:
def super_func(*args, **kwargs):
    print(args)
    print(kwargs)
    
super_func(1,2,3,4,5, num1=5, num2=10)

In [ ]:
import numpy as np

def super_func(*args, **kwargs):
    total=0
    for items in kwargs.values():
        total+=items
    return np.sum(args)+ total

print(super_func(1,2,3,4,5, num1=5, num2=10))

### ORDER OF PARAMETERS:
#### params, *args, default parameters, **kwargs

## Scope
* simply means what variables do i have access to

### global scope
* anybody on this file has acces to this variable
* can be used inside a conditional block, function.

In [ ]:
total = 100
print(total)

In [ ]:
def sum(num):
    return total+num
print(sum(100))

In [ ]:
if (total%2==0):
    print(total*2)

### Functional Scope
it can only be used inside  the function withing which it was initisalized and declared.

In [ ]:
def sum(num):
    func_total = 100
    return func_total+num
    
print(func_total)

### conditional scope
* variables initialized and declared inside the conditional block can be accessed globally untila nd inless the condition evaluates to true.

In [ ]:
if True:
    x=10
print(x)

if False:
    y=20
print(y)

In [ ]:
total = 0
def count():
    total+=1
    return total
print(count())

##### Note: the above erroris caused because, total is not assigned any value locally.

In [ ]:
total = 0
def count():
    global total
    total+=1
    return total
print(count())

##### Note: here we are telling interpreter to use bthe global variable total

### dependency injection

In [ ]:
total = 0
def count(total):
    total+=1
    return total
print(count(total))
print(count(count(count(total))))

## Pure functions
#### rules:
1. given the same input, the function should always return the same output
   * [1,2,3] -> function -> [2,4,6]
   * here, no matter how many times i run the function, the output shoudl be the same for the respectively given input.
2. a function shoudl not produce any side effects
   * side effect:  things that a function does that affects the outside world.
   * for example:
     * printing something in a function makes changes on the screen(by printing it).
     * mending with a variable outside its scope (one with a global scope)

In [ ]:
def multiply_by_2(li):
    new_list=[]
    for item in li:
        new_list.append(item*2)
    return new_list

print(multiply_by_2([1,2,3]))

# paradigms

### map()
* allows us to simplify teh code

In [ ]:
def multiply_by_2(item):
    return item*2
print(map(multiply_by_2, [1,2,3]))
print(list(map(multiply_by_2, [1,2,3])))

### filter()
* filters out and returns true/ required values

In [ ]:
def check_odd(item):
    return item%2!=0
print(list(filter(check_odd, [1,2,3])))

### zip()
* correspondes/ zips multiple iterables into one element

In [ ]:
my_list = [1,2,3]
your_list = [10,20,30]
random = [200, 100, 300]
print(list(zip(my_list, your_list)))
print(list(zip(my_list, your_list, random)))

### reduce()
* not a python built-in function
*

In [ ]:
from functools import reduce
my_list = [1,2,3]

def accumulator(acc, item):
    print(acc, item)
    return acc+item
    
print(reduce(accumulator,my_list, 0))

#### explanation:
* Initial accumulator (acc) = 0
* Iteration 1: acc = 0, item = 1
  * Prints: 0 1
  * Returns: 0 + 1 = 1
* Iteration 2: acc = 1, item = 2
  * Prints: 1 2
  * Returns: 1 + 2 = 3
* Iteration 3: acc = 3, item = 3
  * Prints: 3 3
  * Returns: 3 + 3 = 6
* Final result: 6 is printed.

## Comprehensions
* allows a quick way for us to create lists or sets or dictionaries in python instead if perhaps looping or appending to a bunch of items to the list/set/dict

### * list comprehensions

In [ ]:
my_list = []
for char in "hello":
    my_list.append(char)
print(my_list)

print('\nusing list comprehension:')
# alt with list comprehension
my_list = [char for char in "hello"]
print(my_list)

In [ ]:
my_list2 = [num for num in range(10)]
my_list3 = [num*2 for num in range(10)]
print(my_list2)
print(my_list3)

In [ ]:
my_list4 = [num**2 for num in range(10)]
my_list5 = [num**2 for num in range(10) if num%2==0]

print(my_list4)
print(my_list5)

### * set comprehensions

In [ ]:
my_set = set()
for char in "hello":
    my_set.add(char)
print(my_set)

print('\nusing set comprehension:')
# alt with set comprehension
my_set = {char for char in "hello"}
print(my_set)

In [ ]:
my_set2 = {num for num in range(10)}
my_set3 = {num*2 for num in range(10)}
print(my_set2)
print(my_set3)

In [ ]:
my_set4 = {num**2 for num in range(10)}
my_set5 = {num**2 for num in range(10) if num%2==0}

print(my_set4)
print(my_set5)

### * dictionary comprehensions

In [ ]:
simple_dict = {
    'a':2,
    'b':3
}

my_dict = {key:value**2 for key,value in simple_dict.items()}
print(simple_dict)
print(my_dict)

my_dict2 = {key:value**2 for key,value in simple_dict.items() if value%2==0}
print(my_dict2)

In [ ]:
my_dict3 = {num:num*2 for num in [1,2,3]}
print(my_dict3)

## Modules
#### organize code